*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif; 
    font-size: 13px;
}

.main{
    text-decoration: none;
    color: #AD9966;
    font-weight: 500;
}

.links{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

a:hover{
    color: #AD9966;
}

#logoimg{
    margin-right: 17px;
    width: 66.81px; 
    height: 79.38;
}
ul{
    padding: 0;
}

header li{
    display: inline-block;
    line-height: 10px;
    margin-left: 65px;
}

header{
    
    text-align: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.dropdown{
   position: absolute;
   background-color: white;
   width: 60px;
   padding-right: 130px;
   padding-left: 20px;
   padding-bottom: 15px;
   display: none;
}

.hoverpages:hover .dropdown {
    display: block;
}

dd{
    margin-top: 20px;
}

#ddwide{
    width: 70px;
    padding-left: 0;
    text-align: left;
}

.baixo{
    margin-top: 50px;
}

#logo{
    width: 20%;
    vertical-align: middle;
    padding: 1%;
}



#section01{height: 75vh;
    background-image: url(header-bg.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.H1{
    position:absolute;
    top: 40%;
    left: 37.5%;
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 72px;
    font-weight: lighter;
}


.p{
    position:absolute;
    top: 55%;
    left: 45.7%;
    color: white;
    font-size: 18px;
}

.inicio{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

#separar{
    border-width: 1px;
    border-color: white;
    width: 30%;
    position: absolute;
    top: 52.7%;
    right: 36.5%;
}


#section02{
    position: relative;
    width: 70%;
    height: 1140px;
    margin: auto;
}

#menu{
    display: inline-block;
    background-color: #faf5f0;
    width: 49%;
    height: 1200px;
    text-align: center;
    vertical-align: middle;
}

#daily{
    display: inline-block;
    width: 49%;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

#daily h1{
    font-size: 50px;
    font-family: "Playfair Display", serif;
    font-weight: lighter;
    width: 90%;
    text-align: left;
    padding-left: 20%;
    padding-right: 0;
}

#daily p{
    line-height: 30px;
    color: gray;
    width: 60%;
    text-align: left;
    margin-left: 130px;
}

.APPETIZER{
    padding: 20px;
    margin: 60px;
    font-weight: lighter;
    font-size: 21px;
    font-style: italic;
    font-family: "Playfair Display", serif;
}

.bolinha{list-style: none;}

.itensmenu{
    margin: 10px;
}

.negrito{
    font-weight: bold;
}

.gray{
    font-weight: lighter;
}

#fullmenu{
    background-color: #AD9966;
    text-align: center;
    width: 150px;
    padding: 10px;
    border-color: #AD9966;
    border-style:groove;
    color: white;
}

#fullmenu:hover{
    background-color: white;
    color: #AD9966;
    
}

#section03{
    position: relative;
    width: 100%;
    height: 1760px;
   
}

#section04{
    position: relative;
}

.lorem{
    line-height: 30px;
    text-align: left;
}

#chef{
    position: absolute;
    background-image: url(chefs-quotes.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 570px;
    height: 1000px;
    left: 220px;
    top:-90px
}

#quotes{
    position: absolute;
    right: 180px;
    top: 190px;
    text-align: left;
    width: 30%;
}

#quotes h1{
    font-size: 57px;
    font-weight: lighter;
    font-family: "Playfair Display", serif;
    text-align: left;
}

#signature{
    position: absolute;
    width: 200px;
    height: 200px;   
    background-image: url(signature.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 580px;
    right: 400px;
}

#section05{
    position: relative;
    height: 70vh;
}

#bgmaincourse{
    position: absolute;
    width: 100%;
    height: 70vh;
    background-image: url(callaction-bg.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 960px;
}

#maincourse{
    z-index: 10;
    position: absolute;
    text-align: center;
    padding-top: 30px;
    width: 500px;
    height: 150px;
    opacity: 90%;
    background-color: white;
    top: 200px;
    left: 36%;
}
#maincourse h1{
    font-size: 23px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: lighter;
}

#maincourse h5{
    padding-top: 30px;
    opacity: 60%;
}

#maincourse h6{
    opacity: 40%;
    font-size: 10px;
}

#section06{
    position: relative;
    height: 1070px;
}

#contact{
    position: absolute;
    width: 30%;
    height: 100px;
    top: 1000px;
    left: 900px;
}

#contact h1{
    font-size: 50px;
    font-family: "Playfair Display", serif;
    font-weight: lighter;
}

#contact ul{
list-style: none;
line-height: 40px;
opacity: 40%;
}

.espacinho{
    padding-top: 30px;
}

footer{
    background-color: #04091e;
    height: 500px;
    text-align: left;
    padding-left: 10%;
}
footer ul{
    display: inline-block;
    list-style: none;
}

footer li{
    padding-left: 11%;
}

.ulwide{
    width: 190px;
}

.titulofooter{
    margin-top: 50%;
    color: white;
    padding: 20px;
    font-family: "Playfair Display", serif;
    font-size: 20px;
}

.itensfooter{
    line-height: 30px;
    color: white;
    opacity: 40%;
}

.liwidth{
    width: 100%;
}

.inputs{
    width: 300px;
    height: 37px;
}

#emailfooter{
    width: 300px;
    height: 37px;
    background-color: #04091e;
    border-color:white;
}

#buttonfoot{
    position: absolute;
    width: 41px;
    height: 41px;
    margin-left: 30px;
    vertical-align: bottom;
    background-color: #AD9966;
    color: white;
    font-size: 20px;
    bottom: -2.5px;
    left: 260px;
} 

.inlineblock{
    display: inline-block;
    
}

.gambiarra{
    position: absolute;
    bottom: 56.4px;
    left: 760px;
}

#heart{
    color: #AD9966;
    font-size: 25px;
    vertical-align: bottom;
}

.whitea{
    color: white;
    font-size: 15px;
}

#acor{
    color: #AD9966;
    opacity: 100%;
}

footer p{
    position: absolute;
    left: 169px;
    padding-top: 60px;
}

#footrelative{
    position: relative;
}

.icons{
    width: 32px;
    height: 32px;
    background-color: #ffffff1a;
}

#facebook{
    position: absolute;
    right: 652px;
    top: 4150px;
    background-image: url(face.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#twitter{
    position: absolute;
    right: 616px;
    top: 4150px;
    background-image: url(twitter.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#bola{
    position: absolute;
    right: 580px;
    top:4150px;
    background-image: url(dribbble.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#be{
    position: absolute;
    right: 544px;
    top: 4150px;
    background-image: url(behance.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icons:hover{
    background-color: #AD9966;
}

#appe{
  border: none;
    height: 1px;           /* ou 0.5px */
    background: #999191;
    width: 10%;
    position: absolute;
    top: 10%;
    left: 68.6%;
}
#maincoursee {
  border: none;
    height: 1px;           /* ou 0.5px */
    background: #999191;
    width: 10%;
    position: absolute;
    top: 34.3%;
    left: 68.6%;
}
#juicee {
  border: none;
    height: 1px;           /* ou 0.5px */
    background: #999191;
    width: 10%;
    position: absolute;
    top: 58.7%;
    left: 68.6%;
}