*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif; 
    font-size: 13px;
}

.main{
    text-decoration: none;
    color: #AD9966;
    font-weight: 500;
}

.links{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

a:hover{
    color: #AD9966;
}

#logoimg{
    margin-right: 17px;
    width: 66.81px; 
    height: 79.38;
}
ul{
    padding: 0;
}

header li{
    z-index: 10;
    display: inline-block;
    line-height: 10px;
    margin-left: 65px;
}

header{
    
    text-align: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.dropdown{
   position: absolute;
   background-color: white;
   width: 60px;
   padding-right: 130px;
   padding-left: 20px;
   padding-bottom: 15px;
   display: none;
}

.hoverpages:hover .dropdown {
    display: block;
}

dd{
    margin-top: 20px;
}

#ddwide{
    width: 70px;
    padding-left: 0;
    text-align: left;
}

.baixo{
    margin-top: 50px;
}

#logo{
    width: 20%;
    vertical-align: middle;
    padding: 1%;
}



#section01{height: 70vh;
    background-image: url(header-bg.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.H1{
    position:absolute;
    top: 40%;
    left: 41.5%;
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 52px;
    font-weight: lighter;
    letter-spacing: 7PX;
}


.p{
    position:absolute;
    top: 55%;
    right: 46%;
    color: white;
    font-size: 18px;
}
.inicio{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

#separar{
    border-width: 1px;
    border-color: white;
    width: 20%;
    position: absolute;
    top: 52.7%;
    right: 40%;
}

h3{font-size: 24px;
font-family: "Playfair Display", serif;
position: absolute;
left: 20%;
top: 90%;}
#bill{

 position: absolute;
 left: 20%;
 top: 95%;
}
span{
    font-weight: bold;
    color:#AD9966
}


footer{
    position: absolute;

    top: 110%;
    background-color: #04091e;

  
    padding-left: 10%;
}
footer ul{
    display: inline-block;
    list-style: none;
}

footer li{
    padding-left: 11%;
}

.ulwide{
    width: 190px;
}

.titulofooter{
    margin-top: 50%;
    color: white;
    padding: 20px;
    font-family: "Playfair Display", serif;
    font-size: 20px;
}

.itensfooter{
    line-height: 30px;
    color: white;
    opacity: 40%;
}

.liwidth{
    width: 100%;
}

.inputs{
    width: 300px;
    height: 37px;
}

#emailfooter{
    width: 300px;
    height: 37px;
    background-color: #04091e;
    border-color:white;
}

#buttonfoot{
    position: absolute;
    width: 41px;
    height: 41px;
    margin-left: 30px;
    vertical-align: bottom;
    background-color: #AD9966;
    color: white;
    font-size: 20px;
    bottom: -2.5px;
    left: 260px;
} 

.inlineblock{
    display: inline-block;
    
}

.gambiarra{
    position: absolute;
    bottom: 56.4px;
    left: 760px;
}

#heart{
    color: #AD9966;
    font-size: 25px;
    vertical-align: bottom;
}

.whitea{
    color: white;
    font-size: 15px;
}

#acor{
    color: #AD9966;
    opacity: 100%;
}

footer p{
    position: absolute;
    left: 169px;
    padding-top: 60px;
}

#footrelative{
    position: relative;
}

.icons{
    width: 32px;
    height: 32px;
    background-color: #ffffff1a;
}

#facebook{
    position: absolute;
    right: 105px;
    top: 350px;
    background-image: url(face.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#twitter{
    position: absolute;
    right: 85px;
    top: 350px;
    background-image: url(twitter.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#bola{
    position: absolute;
    right:65px;
    top:350px;
    background-image: url(dribbble.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#be{
    position: absolute;
    right: 44px;
    top: 350px;
    background-image: url(behance.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icons:hover{
    background-color: #AD9966;
}
